# Object file
*.o

# Ada Library Information
*.ali

# Database files
gnatinspect*
*.bexch
x_cleaner-loc.xml
obj/gpsauto.cgpr

# Executables
bin/*.exe

# Temp compiler files
obj/b__*.adb
obj/b__*.ads
obj/*.tmp